.about {
    display: flex;
    font-family: 'Caudex', serif;
  


}

.aboutPhoto {
    display: flex;
    height: 600px;
    object-fit: contain;
   
}

.text {
    margin-right: 100px;
    margin-top: 50px;
    justify-content: center;
  
  
}

.greeting {
    display: flex;
    justify-content: center;
    
}