.links {
    display: flex;
border: 2px #404040;
background: lightgray;
padding-right: 5vw;
padding-bottom: 1vw;

width: 98vw;
justify-content: flex-end;
position: absolute;
height: 5vh;


}

/* .h3 {
    padding-top: 3vh;
    padding-bottom: 3vh;
    transition: transform 0.3s;
   margin-left: 5vw;
}

.h3:hover {
    color: gold;
    transform: scale(1.2);
  
} */

.home {
display: in-line;
text-decoration: none;
font-family: var(--main-font);
color:var(--main-font-color);
padding: 1vw;
transition: transform 0.3s;
padding-right: 5vw;

}



.about {
    display: in-line;
    text-decoration: none;
    font-family: var(--main-font);
color:var(--main-font-color);
    padding: 1vw;
    padding-right: 5vw;
}


.cv {
    display: in-line;
    text-decoration: none;
    font-family: var(--main-font);
color:var(--main-font-color);
    padding: 1vw;
    padding-right: 5vw;
}


.projects {
    display: in-line;
    text-decoration: none;
    font-family: var(--main-font);
    color:var(--main-font-color);
    padding: 1vw;
    padding-right: 5vw;
}


.contact {
    display: in-line;
    text-decoration: none;
    font-family: var(--main-font);
    color:var(--main-font-color);
    padding: 1vw;
}
