.links {
border: 2px #404040;
background: lightgray;
padding: 1vw;
width: 30vw;
}



.home {
display: in-line;
text-decoration: none;
color: #404040;
font-family: 'Caudex', serif;
padding: 1vw;

}

.home:hover {
    font-size: 15px;
    
}

.about {
    display: in-line;
    text-decoration: none;
    color: #404040;
    font-family: 'Caudex', serif;
    padding: 1vw;
}
.about:hover {
    font-size: 15px;
}

.cv {
    display: in-line;
    text-decoration: none;
    color: #404040;
    font-family: 'Caudex', serif;
    padding: 1vw;
}
.cv:hover {
    font-size: 15px;
}

.projects {
    display: in-line;
    text-decoration: none;
    color: #404040;
    font-family: 'Caudex', serif;
    padding: 1vw;
}
.projects:hover {
    font-size: 15px;
}

.contact {
    display: in-line;
    text-decoration: none;
    color: #404040;
    font-family: 'Caudex', serif;
    padding: 1vw;
}
.contact:hover {
    font-size: 15px;
}